<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>neus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>@ICON@</string>
			<key>CFBundleTypeName</key>
			<string>Neutrino Session</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>neu</string>
				<string>sif</string>
				<string>img</string>
				<string>hdf</string>
				<string>h5</string>
				<string>inf</string>
				<string>fits</string>
				<string>b16</string>
				<string>imd</string>
				<string>pgm</string>
				<string>txt</string>
				<string>tif</string>
				<string>tiff</string>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>@ICON@</string>
			<key>CFBundleTypeName</key>
			<string>Neutrino images</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Neutrino</string>
	<key>CFBundleGetInfoString</key>
	<string>Neutrino</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.neutrino</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>unknown</string>
	<key>CFBundleSignature</key>
	<string>neut</string>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>NOTE</key>
	<string>The only neutrino faster than light</string>
</dict>
</plist>
