<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

{% include base.html %}
	<link rel="stylesheet" href="{{base}}/stylesheets/styles.css">
	<link rel="stylesheet" href="{{base}}/stylesheets/github-light.css">
	<script src="{{base}}/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Neutrino</h1>
	<p class=header><img src="{{base}}/images/icon.svg" style="width:100%"><p> 
        <!--<p class="header">A light, expandable and full featured image analysis tool for
		research</p>-->

        <ul>
        <!--  <li class="download"><a class="buttons" href="https://github.com/aflux/neutrino/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/aflux/neutrino/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/aflux/neutrino">View On
	  GitHub</a></li> -->
        </ul>

        <!--<p class="header">This project is maintained by <a class="header name"
		href="https://github.com/aflux">aflux</a></p>-->


      </header>
      <section>
	      {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
  </body>
</html>
